[submodule "vendor/src/github.com/davecgh/go-spew"]
	path = vendor/src/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew
[submodule "vendor/src/github.com/fsouza/go-dockerclient"]
	path = vendor/src/github.com/fsouza/go-dockerclient
	url = https://github.com/fsouza/go-dockerclient
[submodule "vendor/src/github.com/n1koo/gocron"]
	path = vendor/src/github.com/n1koo/gocron
	url = https://github.com/n1koo/gocron
[submodule "vendor/src/github.com/pmezard/go-difflib"]
	path = vendor/src/github.com/pmezard/go-difflib
	url = https://github.com/pmezard/go-difflib
[submodule "vendor/src/github.com/stretchr/testify"]
	path = vendor/src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/src/github.com/Sirupsen/logrus"]
	path = vendor/src/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/src/github.com/Shopify/logrus-bugsnag"]
	path = vendor/src/github.com/Shopify/logrus-bugsnag
	url = https://github.com/Shopify/logrus-bugsnag
[submodule "vendor/src/github.com/bugsnag/bugsnag-go"]
	path = vendor/src/github.com/bugsnag/bugsnag-go
	url = https://github.com/bugsnag/bugsnag-go
[submodule "vendor/src/github.com/bugsnag/panicwrap"]
	path = vendor/src/github.com/bugsnag/panicwrap
	url = https://github.com/bugsnag/panicwrap
[submodule "vendor/src/github.com/bugsnag/osext"]
	path = vendor/src/github.com/bugsnag/osext
	url = https://github.com/bugsnag/osext
[submodule "vendor/src/github.com/Shopify/go-dogstatsd"]
	path = vendor/src/github.com/Shopify/go-dogstatsd
	url = https://github.com/Shopify/go-dogstatsd
[submodule "vendor/src/github.com/cznic/sortutil"]
	path = vendor/src/github.com/cznic/sortutil
	url = https://github.com/cznic/sortutil.git
